

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadDefaultComponentPartial")

<body class="index-page">
	@await Component.InvokeAsync("_NavbarDefaultComponentPartial")



    <main class="main">

        <!-- Hero Section -->
        @await Component.InvokeAsync("_FeatureDefaultComponentPartial")
        <!-- About Section -->
        @await Component.InvokeAsync("_AboutDefaultComponentPartial")
        <!-- Why Us Section -->
        @await Component.InvokeAsync("_ServiceDefaultComponentPartial")
        <!-- Menu Section -->
		@await Component.InvokeAsync("_MenuDefaultComponentPartial")
        <!-- Testimonials Section -->
        @await Component.InvokeAsync("_TestimonialDefaultComponentPartial")
        <!-- Events Section -->
        @await Component.InvokeAsync("_EventDefaultComponentPartial")
        <!-- Chefs Section -->
        @await Component.InvokeAsync("_ChefDefaultComponentPartial")
        <!-- Book A Table Section -->
        @await Component.InvokeAsync("_ReservationDefaultComponentPartial")
        <!-- Contact Section -->
        @await Component.InvokeAsync("_ContactUsDefaultComponentPartial")
       <!-- /Contact Section -->

    </main>
    @await Component.InvokeAsync("_FooterDefaultComponentPartial")



</body>

</html>